.u-section-1 {background-image: none; min-height: 950px}
.u-section-1 .u-text-1 {font-family: Alata; font-size: 4.5rem; text-shadow: 0 -2px 8px rgba(128,128,128,1); animation-duration: 1000ms; margin: 60px calc(((100% - 1140px) / 2) + 452px) 0}
.u-section-1 .u-layout-wrap-1 {width: 1009px; margin: 60px auto 0 calc(((100% - 1140px) / 2) + 66px)}
.u-section-1 .u-layout-cell-1 {min-height: 259px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-text-2 {font-style: normal; font-size: 1.5rem; text-shadow: 0 -2px 8px rgba(128,128,128,1); animation-duration: 1000ms; margin: 0 0 0 -16px}
.u-section-1 .u-layout-cell-2 {min-height: 259px}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-text-3 {font-style: normal; font-size: 1.5rem; text-shadow: 0 -2px 8px rgba(128,128,128,1); animation-duration: 1000ms; margin: 0 -44px 0 -16px}
.u-section-1 .u-layout-cell-3 {min-height: 626px}
.u-section-1 .u-container-layout-3 {padding: 30px}
.u-section-1 .u-image-1 {width: 306px; height: 392px; margin: 0 auto}
.u-section-1 .u-layout-cell-4 {min-height: 340px}
.u-section-1 .u-container-layout-4 {padding: 30px}
.u-section-1 .u-text-4 {font-weight: 700; font-size: 1.875rem; text-shadow: 0 -2px 8px rgba(128,128,128,1); animation-duration: 1000ms; margin: -13px 30px 0 auto}
.u-section-1 .u-text-5 {font-style: normal; font-size: 1.5rem; text-shadow: 0 -2px 8px rgba(128,128,128,1); animation-duration: 1000ms; margin: 30px -1px 0 -30px}
.u-section-1 .u-layout-cell-5 {min-height: 259px}
.u-section-1 .u-container-layout-5 {padding: 30px}
.u-section-1 .u-text-6 {font-style: normal; font-size: 1.5rem; text-shadow: 0 -2px 8px rgba(128,128,128,1); animation-duration: 1000ms; margin: 0 -2px 0 -30px}
.u-section-1 .u-shape-1 {width: 66px; height: 66px; margin: 59px 0 0 auto} 

@media (max-width: 1199px){ .u-section-1 {min-height: 907px}
.u-section-1 .u-text-1 {margin-left: calc(((100% - 940px) / 2) + 373px); margin-right: calc(((100% - 940px) / 2) + 373px)}
.u-section-1 .u-layout-wrap-1 {width: 940px; margin-left: calc(((100% - 940px) / 2))}
.u-section-1 .u-layout-cell-1 {min-height: 241px}
.u-section-1 .u-text-2 {margin-left: 0}
.u-section-1 .u-layout-cell-2 {min-height: 241px}
.u-section-1 .u-text-3 {margin-left: 0; margin-right: 0}
.u-section-1 .u-layout-cell-3 {min-height: 583px; background-position: 50% 50%}
.u-section-1 .u-layout-cell-4 {min-height: 317px}
.u-section-1 .u-text-4 {margin-right: 27px}
.u-section-1 .u-text-5 {margin-right: 0; margin-left: 0}
.u-section-1 .u-layout-cell-5 {min-height: 241px}
.u-section-1 .u-text-6 {margin-right: 0; margin-left: 0} }

@media (max-width: 991px){ .u-section-1 {min-height: 724px}
.u-section-1 .u-text-1 {margin-left: calc(((100% - 720px) / 2) + 286px); margin-right: calc(((100% - 720px) / 2) + 286px)}
.u-section-1 .u-layout-wrap-1 {width: 720px; margin-left: calc(((100% - 720px) / 2))}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-layout-cell-3 {min-height: 100px}
.u-section-1 .u-image-1 {width: 300px; height: 384px}
.u-section-1 .u-layout-cell-4 {min-height: 100px}
.u-section-1 .u-text-4 {margin-top: 0; margin-right: 80px}
.u-section-1 .u-text-5 {width: auto; margin-left: 300px}
.u-section-1 .u-layout-cell-5 {min-height: 100px}
.u-section-1 .u-text-6 {width: auto; margin-left: 330px} }

@media (max-width: 767px){ .u-section-1 .u-text-1 {margin-left: calc(((100% - 540px) / 2) + 215px); margin-right: calc(((100% - 540px) / 2) + 215px)}
.u-section-1 .u-layout-wrap-1 {width: 540px; margin-left: calc(((100% - 540px) / 2))}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-4 {margin-right: 63px}
.u-section-1 .u-text-5 {margin-left: 160px}
.u-section-1 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-6 {margin-left: 190px} }

@media (max-width: 575px){ .u-section-1 {min-height: 1463px}
.u-section-1 .u-text-1 {font-size: 3rem; margin-right: calc(((100% - 1140px) / 2) + 583px); margin-left: calc(((100% - 1140px) / 2) + 400px)}
.u-section-1 .u-layout-wrap-1 {width: 340px; margin-top: 20px; margin-bottom: 60px; margin-left: calc(((100% - 1140px) / 2) + 400px)}
.u-section-1 .u-text-4 {font-size: 1.5rem; margin-right: 39px}
.u-section-1 .u-text-5 {margin-left: 0}
.u-section-1 .u-text-6 {margin-left: 0}
.u-section-1 .u-shape-1 {margin-right: calc(((100% - 1140px) / 2) + 250px)} }