.u-section-1 {background-image: none; min-height: 50vw}
.u-section-1 .u-text-1 {font-family: Alata; font-size: 4.5rem; animation-duration: 1000ms; text-shadow: 0 -2px 8px rgba(128,128,128,1); margin: 60px calc(((100% - 1140px) / 2) + 409px) 0 calc(((100% - 1140px) / 2) + 452px)}
.u-section-1 .u-layout-wrap-1 {width: 1009px; margin: 60px auto 0 calc(((100% - 1140px) / 2) + 66px)}
.u-section-1 .u-layout-cell-1 {min-height: 550px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-text-2 {font-style: normal; font-size: 1.5rem; text-shadow: 0 -2px 8px rgba(128,128,128,1); animation-duration: 1000ms; margin: 138px -30px 0 -9px}
.u-section-1 .u-layout-cell-2 {min-height: 550px}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-image-1 {width: 306px; height: 392px; animation-duration: 1000ms; margin: 88px auto 0}
.u-section-1 .u-layout-cell-3 {min-height: 550px}
.u-section-1 .u-container-layout-3 {padding: 30px}
.u-section-1 .u-text-3 {font-weight: 700; font-size: 1.875rem; text-shadow: 0 -2px 8px rgba(128,128,128,1); animation-duration: 1000ms; margin: 94px 30px 0 auto}
.u-section-1 .u-text-4 {font-style: normal; font-size: 1.5rem; text-shadow: 0 -2px 8px rgba(128,128,128,1); animation-duration: 1000ms; margin: 11px -30px 0 -58px}
.u-section-1 .u-shape-1 {width: 66px; height: 66px; margin: -47px 0 0 auto} 

@media (max-width: 1199px){ .u-section-1 .u-text-1 {margin-left: calc(((100% - 940px) / 2) + 352px); margin-right: calc(((100% - 940px) / 2) + 309px)}
.u-section-1 .u-layout-wrap-1 {width: 940px; margin-left: calc(((100% - 940px) / 2))}
.u-section-1 .u-layout-cell-1 {min-height: 512px}
.u-section-1 .u-text-2 {margin-left: 0; margin-right: 0}
.u-section-1 .u-layout-cell-2 {min-height: 512px; background-position: 50% 50%}
.u-section-1 .u-layout-cell-3 {min-height: 512px}
.u-section-1 .u-text-3 {margin-right: 27px}
.u-section-1 .u-text-4 {margin-right: 0; margin-left: 0} }

@media (max-width: 991px){ .u-section-1 .u-text-1 {margin-left: calc(((100% - 720px) / 2) + 242px); margin-right: calc(((100% - 720px) / 2) + 199px)}
.u-section-1 .u-layout-wrap-1 {width: 720px; margin-left: calc(((100% - 720px) / 2))}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-image-1 {width: 300px; height: 384px}
.u-section-1 .u-layout-cell-3 {min-height: 100px}
.u-section-1 .u-text-3 {margin-top: 0; margin-right: 80px}
.u-section-1 .u-text-4 {width: auto; margin-left: 300px} }

@media (max-width: 767px){ .u-section-1 .u-text-1 {margin-left: calc(((100% - 540px) / 2) + 152px); margin-right: calc(((100% - 540px) / 2) + 109px)}
.u-section-1 .u-layout-wrap-1 {width: 540px; margin-left: calc(((100% - 540px) / 2))}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-3 {margin-right: 63px}
.u-section-1 .u-text-4 {margin-left: 160px} }

@media (max-width: 575px){ .u-section-1 {min-height: 1463px}
.u-section-1 .u-text-1 {font-size: 3rem; margin-left: calc(((100% - 1140px) / 2) + 400px); margin-right: calc(((100% - 1140px) / 2) + 400px)}
.u-section-1 .u-layout-wrap-1 {width: 340px; margin-left: calc(((100% - 1140px) / 2) + 400px)}
.u-section-1 .u-text-3 {font-size: 1.5rem; margin-right: 39px}
.u-section-1 .u-text-4 {margin-left: 0}
.u-section-1 .u-shape-1 {margin-right: calc(((100% - 1140px) / 2) + 310px)} }