.u-section-1 .u-sheet-1 {min-height: 2059px}
.u-section-1 .u-layout-wrap-1 {margin: 49px auto 0 0}
.u-section-1 .u-layout-cell-1 {min-height: 506px}
.u-section-1 .u-container-layout-1 {padding: 0 0 30px}
.u-section-1 .u-image-1 {height: 337px; animation-duration: 1000ms; margin: 0 auto 0 0}
.u-section-1 .u-text-1 {font-size: 1.5rem; font-weight: 500; margin: 20px 0 0}
.u-section-1 .u-layout-cell-2 {min-height: 506px}
.u-section-1 .u-container-layout-2 {padding: 0 0 30px}
.u-section-1 .u-image-2 {height: 271px; object-position: 100% 50%; background-position: 100% 50%; animation-duration: 1000ms; margin: 0 auto 0 0}
.u-section-1 .u-text-2 {font-size: 1.5rem; font-weight: 500; margin: 86px 0 0}
.u-section-1 .u-layout-cell-3 {min-height: 506px}
.u-section-1 .u-container-layout-3 {padding: 0 0 30px}
.u-section-1 .u-image-3 {height: 337px; animation-duration: 1000ms; margin: 0 auto 0 0}
.u-section-1 .u-text-3 {font-size: 1.5rem; font-weight: 500; margin: 20px 0 0}
.u-section-1 .u-layout-cell-4 {min-height: 1534px}
.u-section-1 .u-container-layout-4 {padding: 0 0 30px}
.u-section-1 .u-image-4 {height: 337px; animation-duration: 1000ms; margin: 0 -1px 0 0}
.u-section-1 .u-text-4 {font-size: 1.5rem; font-weight: 500; margin: 31px 0 0}
.u-section-1 .u-image-5 {height: 362px; animation-duration: 1000ms; margin: 83px auto 0 0}
.u-section-1 .u-text-5 {font-size: 1.5rem; font-weight: 500; margin: 20px auto 0}
.u-section-1 .u-image-6 {height: 337px; animation-duration: 1000ms; margin: 162px -20px 0 0}
.u-section-1 .u-text-6 {font-size: 1.5rem; font-weight: 500; margin: 49px auto 0}
.u-section-1 .u-layout-cell-5 {min-height: 1534px}
.u-section-1 .u-container-layout-5 {padding: 0 0 30px}
.u-section-1 .u-image-7 {height: 368px; animation-duration: 1000ms; margin: 0 auto 0 0}
.u-section-1 .u-text-7 {font-size: 1.5rem; font-weight: 500; margin: 0 89px 0 115px}
.u-section-1 .u-image-8 {height: 368px; animation-duration: 1000ms; margin: 83px auto 0 0}
.u-section-1 .u-text-8 {text-transform: uppercase; letter-spacing: 2px; font-size: 2.25rem; font-weight: 900; margin: -69px auto 0 0}
.u-section-1 .u-text-9 {font-size: 1.5rem; font-weight: 500; margin: 40px auto 0}
.u-section-1 .u-layout-cell-6 {min-height: 1494px}
.u-section-1 .u-container-layout-6 {padding: 0 0 30px}
.u-section-1 .u-image-9 {height: 337px; animation-duration: 1000ms; margin: 0 auto 0 0}
.u-section-1 .u-text-10 {font-size: 1.5rem; font-weight: 500; margin: 31px 0 0}
.u-section-1 .u-image-10 {height: 337px; animation-duration: 1000ms; margin: 82px auto 0 0}
.u-section-1 .u-text-11 {font-size: 1.5rem; font-weight: 500; margin: 76px auto 0}
.u-section-1 .u-image-11 {height: 388px; width: 703px; animation-duration: 1000ms; margin: 80px auto 0 -364px}
.u-section-1 .u-text-12 {font-size: 1.5rem; font-weight: 500; margin: -76px 284px 60px 691px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 1714px}
.u-section-1 .u-layout-wrap-1 {margin-bottom: 60px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 417px}
.u-section-1 .u-image-1 {height: 278px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-2 {min-height: 417px}
.u-section-1 .u-image-2 {height: 223px; margin-right: initial; margin-left: initial}
.u-section-1 .u-text-2 {margin-left: auto; margin-right: auto}
.u-section-1 .u-layout-cell-3 {min-height: 417px}
.u-section-1 .u-image-3 {height: 278px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-4 {min-height: 1265px}
.u-section-1 .u-image-4 {height: 278px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-5 {height: 298px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-6 {height: 278px; margin-top: 0; margin-right: initial; margin-left: initial}
.u-section-1 .u-text-6 {margin-top: 53px; margin-left: 104px}
.u-section-1 .u-layout-cell-5 {min-height: 1265px}
.u-section-1 .u-image-7 {height: 303px; margin-right: initial; margin-left: initial}
.u-section-1 .u-text-7 {margin-top: 56px; margin-left: auto; margin-right: auto}
.u-section-1 .u-image-8 {height: 303px; margin-right: initial; margin-left: initial}
.u-section-1 .u-text-8 {margin-top: -5px}
.u-section-1 .u-layout-cell-6 {min-height: 1232px}
.u-section-1 .u-image-9 {height: 278px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-10 {height: 278px; margin-top: -14px; margin-right: initial; margin-left: initial}
.u-section-1 .u-text-11 {margin-top: 135px}
.u-section-1 .u-image-11 {height: 165px; width: 300px; margin-top: 28px; margin-left: 0}
.u-section-1 .u-text-12 {margin-top: 267px; margin-right: auto; margin-left: 0} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 289px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-image-1 {height: 213px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-image-2 {height: 171px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-3 {min-height: 100px}
.u-section-1 .u-image-3 {height: 213px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-4 {min-height: 100px}
.u-section-1 .u-image-4 {height: 213px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-5 {height: 228px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-6 {height: 213px; margin-right: initial; margin-left: initial}
.u-section-1 .u-text-6 {margin-left: 79px}
.u-section-1 .u-layout-cell-5 {min-height: 100px}
.u-section-1 .u-image-7 {height: 232px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-8 {height: 232px; margin-right: initial; margin-left: initial}
.u-section-1 .u-text-8 {margin-top: 66px}
.u-section-1 .u-layout-cell-6 {min-height: 100px}
.u-section-1 .u-image-9 {height: 213px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-10 {height: 213px; margin-top: -33px; margin-right: initial; margin-left: initial}
.u-section-1 .u-text-11 {margin-top: 200px}
.u-section-1 .u-image-11 {height: 125px; width: 227px}
.u-section-1 .u-text-12 {margin-top: 310px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 489px}
.u-section-1 .u-image-1 {height: 479px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-2 {height: 385px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-3 {height: 479px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-4 {height: 479px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-5 {height: 513px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-6 {height: 479px; margin-right: initial; margin-left: initial}
.u-section-1 .u-text-6 {margin-left: 188px}
.u-section-1 .u-image-7 {height: 522px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-8 {height: 522px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-9 {height: 479px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-10 {height: 479px; margin-right: initial; margin-left: initial}
.u-section-1 .u-text-11 {margin-top: -66px}
.u-section-1 .u-text-12 {margin-top: 267px} }

@media (max-width: 575px){ .u-section-1 .u-image-1 {height: 302px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-2 {height: 242px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-3 {height: 302px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-4 {height: 302px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-5 {height: 323px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-6 {height: 302px; margin-right: initial; margin-left: initial}
.u-section-1 .u-text-6 {margin-left: 118px}
.u-section-1 .u-image-7 {height: 329px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-8 {height: 329px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-9 {height: 302px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-10 {height: 302px; margin-right: initial; margin-left: initial}
.u-section-1 .u-text-11 {margin-top: 111px} }