.u-section-1 {background-image: none; min-height: 1147px}
.u-section-1 .u-text-1 {font-family: Alata; font-size: 4.5rem; text-shadow: 0 -2px 8px rgba(128,128,128,1); animation-duration: 1000ms; margin: 60px calc(((100% - 1140px) / 2) + 442px) 0}
.u-section-1 .u-layout-wrap-1 {width: 1009px; margin: 77px auto 0 calc(((100% - 1140px) / 2) + 66px)}
.u-section-1 .u-layout-cell-1 {min-height: 931px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-layout-cell-2 {min-height: 931px}
.u-section-1 .u-container-layout-2 {padding: 30px 30px 18px}
.u-section-1 .u-image-1 {width: 509px; height: 509px; animation-duration: 1000ms; margin: 0 14px 0 auto}
.u-section-1 .u-text-2 {font-weight: 700; font-size: 1.875rem; text-shadow: 0 -2px 8px rgba(128,128,128,1); animation-duration: 1000ms; margin: 33px auto 0}
.u-section-1 .u-text-3 {font-style: normal; font-size: 1.5rem; text-shadow: 0 -2px 8px rgba(128,128,128,1); animation-duration: 1000ms; margin: 32px auto 0 -13px}
.u-section-1 .u-text-4 {font-style: normal; font-size: 1.5rem; text-shadow: 0 -2px 8px rgba(128,128,128,1); animation-duration: 1000ms; margin: 7px auto 0 -13px}
.u-section-1 .u-layout-cell-3 {min-height: 931px}
.u-section-1 .u-container-layout-3 {padding: 3px 30px 30px}
.u-section-1 .u-text-5 {font-style: normal; font-size: 1.5rem; text-shadow: 0 -2px 8px rgba(128,128,128,1); animation-duration: 1000ms; margin: 170px -1px 0 -30px}
.u-section-1 .u-shape-1 {width: 66px; height: 66px; margin: -66px 0 0 auto} 

@media (max-width: 1199px){ .u-section-1 {min-height: 1083px}
.u-section-1 .u-text-1 {margin-left: calc(((100% - 940px) / 2) + 364px); margin-right: calc(((100% - 940px) / 2) + 364px)}
.u-section-1 .u-layout-wrap-1 {width: 940px; margin-left: calc(((100% - 940px) / 2))}
.u-section-1 .u-layout-cell-1 {min-height: 867px}
.u-section-1 .u-layout-cell-2 {min-height: 867px; background-position: 50% 50%}
.u-section-1 .u-image-1 {width: 316px; height: 316px; margin-right: 0}
.u-section-1 .u-text-2 {margin-top: 332px; margin-left: -88px}
.u-section-1 .u-text-3 {margin-top: 20px; margin-left: 0}
.u-section-1 .u-text-4 {margin-top: 69px; margin-right: 0; margin-left: -12px}
.u-section-1 .u-layout-cell-3 {min-height: 867px}
.u-section-1 .u-text-5 {margin: -1011px 0 60px 681px} }

@media (max-width: 991px){ .u-section-1 {min-height: 5297px}
.u-section-1 .u-text-1 {margin-left: calc(((100% - 720px) / 2) + 279px); margin-right: calc(((100% - 720px) / 2) + 279px)}
.u-section-1 .u-layout-wrap-1 {width: 720px; margin-left: calc(((100% - 720px) / 2))}
.u-section-1 .u-layout-cell-1 {min-height: 4981px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-image-1 {width: 300px; height: 300px}
.u-section-1 .u-text-2 {margin-top: 0; margin-left: -262px}
.u-section-1 .u-text-4 {margin-left: -36px}
.u-section-1 .u-layout-cell-3 {min-height: 100px}
.u-section-1 .u-text-5 {margin-left: 461px} }

@media (max-width: 767px){ .u-section-1 {min-height: 7788px}
.u-section-1 .u-text-1 {margin-left: calc(((100% - 540px) / 2) + 209px); margin-right: calc(((100% - 540px) / 2) + 209px)}
.u-section-1 .u-layout-wrap-1 {width: 540px; margin-left: calc(((100% - 540px) / 2))}
.u-section-1 .u-layout-cell-1 {min-height: 1661px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-2 {margin-left: -206px}
.u-section-1 .u-text-4 {margin-left: -28px}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-5 {margin-left: 281px} }

@media (max-width: 575px){ .u-section-1 {min-height: 1678px}
.u-section-1 .u-text-1 {font-size: 3rem; margin-right: calc(((100% - 1140px) / 2) + 570px); margin-left: calc(((100% - 1140px) / 2) + 400px)}
.u-section-1 .u-layout-wrap-1 {width: 340px; margin-left: calc(((100% - 1140px) / 2) + 400px)}
.u-section-1 .u-layout-cell-1 {min-height: 1046px}
.u-section-1 .u-text-2 {font-size: 1.5rem; margin-left: -127px}
.u-section-1 .u-text-4 {margin-left: -17px}
.u-section-1 .u-text-5 {margin-top: -951px; margin-left: 81px}
.u-section-1 .u-shape-1 {margin-right: calc(((100% - 1140px) / 2) + 250px)} }